<!DOCTYPE html>
<html data-theme="retro" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GB!</title>
        <link href="./output.css" rel="stylesheet">
        <script defer src="https://cdn.jsdelivr.net/npm/@sudodevnull/datastar" type="module"></script>
    </head>
    <body class="bg-base-100 m-1">
    <header th:replace="~{fragments/header::header}"></header>
    <main class="flex flex-1 items-center justify-center my-36 p-4">
        <button
            class="btn btn-circle btn-primary p-36"
            id="battle"
            data-fetch-url="'/contact/battle'"
            data-on-click="$$get">
            BATTLE!
        </button>
    </main>
</body>
</html>



