<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@sudodevnull/datastar" type="module"></script>
</head>
<body>
<main class="my-5">
    <div class="container">
        <h1 class="mb-4">Homepage</h1>

        <div id="contact_1" data-fetch-url="'/contact/1'" data-on-load="$$get">Replace me</div>


        <div data-merge-store='{ "count": "123" }'>
            <div>
                <button class="btn btn-primary" data-on-click="$count++">
                    Increment +
                </button>
                <button class="btn btn-primary" data-on-click="$count--">
                    Decrement -
                </button>
                <input class="input input-bordered w-full max-w-xs" type="number" data-model="count" />
            </div>
        </div>


    </div>
</main>

<script>


</script>
</body>
</html>