<!DOCTYPE html>
<html data-theme="dim" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GB!</title>
    <link href="./output.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/@sudodevnull/datastar" type="module"></script>
</head>
<body class="flex h-screen bg-base-100 text-base-content">

<!-- Content -->
<div class="flex-1 flex flex-col">

    <div id="contact_1" data-fetch-url="'/contact/1'" data-on-load="$$get">Replace me</div>


    <div data-merge-store='{ "count": "123" }'>
        <div>
            <button class="btn btn-primary" data-on-click="$count++">
                Increment +
            </button>
            <button class="btn btn-primary" data-on-click="$count--">
                Decrement -
            </button>
            <input class="input input-bordered w-full max-w-xs" type="number" data-model="count" />
        </div>
    </div>


    <!-- Header -->
    <header th:replace="~{fragments/header::header}"></header>

    <!-- Navbar -->
    <div th:replace="~{fragments/navbar::navbar}"></div>

    <!-- Main content -->
    <main class="flex flex-1 items-center justify-center p-4">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
                <h2 class="card-title">Card title!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">

                </div>
            </div>
        </div>

    </main>

</div>

</body>
</html>



